<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BitcoiNodes</title>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css



  ">
  <!-- Adding leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/maps.css' %}">
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

</head>

<body>


  <div style="margin-top: 50px;" class="container d-flex justify-content-between flex-column">
    <div class="row mb-5 border-bottom d-flex flex-column">
      <h1>BitcoiNodes</h1>
      <p>Bitcoin nodes that you loaded as a JSON.</p>
    </div>
    <div class="row">

      <h4 class="font-weight-bold">

        Global Bitcoin Nodes</h4> <br>

    </div>
    <div class="row d-flex border-bottom pb-5">

      <div class="col" style="padding-right: 15px;">
        <p class="display-4" id="nodes"></p>

        <form action="\external\" method="post" enctype="multipart/form-data">

          {% csrf_token %}
       
          
          <input id="choose_json" type="file" name="json">
          <button id="upload_json">Upload JSON </button><br>
        </form>
        <table class="table" style="width: 30rem;">
          <tr>
            <th>Rank</th>
            <th>Country</th>
            <th>Nodes</th>
          </tr>
          <tr>

            <td>1</td>
            <td>United States</td>
            <td>14</td>

          </tr>
          <tr>
            <td>2</td>
            <td>China</td>
            <td>5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Singapore</td>
            <td>4</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Spain</td>
            <td>2</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Russia</td>
            <td>2</td>
          </tr>
        </table>
      </div>
      <div class="row" id="issMap"></div>
    </div>





    <div id="array" style="visibility: hidden; max-height: 0">


      {% if data %}

      {{ data | safe}}

      {% endif %}

    </div>

  </div>


  <footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">
      <div>
        <p class="font-weight-bold">
          About BitcoinNodes
        </p>
        <p>
        </p>

      </div>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.instagram.com/mertpiree/" class="btn-floating btn-tw mx-1">
            <i class="fab fa-instagram" style="font-size: 2.5em;"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/mert-pire-84752915b/" class="btn-floating btn-li mx-2">
            <i class="fab fa-linkedin-in" style="font-size: 2.5em;"> </i>
          </a>
        </li>

      </ul>

    </div>

    <div class="footer-copyright text-center py-3">
      <a href="https://mertpire.com/"> Mert PİRE</a>
    </div>
    

  </footer>
 




</body>



<script type="text/javascript" src="{% static 'js/maps.js' %}">

</script>




</html>

